.container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    /* column-gap: 30px; */
    justify-content: space-evenly;
}
.card{
    width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}
.image img{
    height: 150px;
    width: auto;

}
.title{
    font-size: 20px;
    margin: 10px;
}
.des{
    text-align: justify;
    padding: 3px;
    font-size: 12px;
}